header {
	display: block;
	width: 100%;
	padding: 0px;
	background: #121212;
	height: 3em;

	h1 {
		padding-top: 0.3em;
		margin: 0 auto;
		max-width: 980px;
		color: white;
		vertical-align: middle;
	}
}
